@font-face {
  font-family: "iconfont"; /* Project id 4447600 */
  src: url('iconfont.woff2?t=1719217482405') format('woff2'),
       url('iconfont.woff?t=1719217482405') format('woff'),
       url('iconfont.ttf?t=1719217482405') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-tingzhi1:before {
  content: "\e66a";
}

.icon-bofang:before {
  content: "\e624";
}

.icon-shexiangtou-:before {
  content: "\e69d";
}

.icon-diqiu:before {
  content: "\e642";
}

.icon-left:before {
  content: "\e67e";
}

.icon-tuichuquanping2:before {
  content: "\e601";
}

.icon-zhuatu:before {
  content: "\e62b";
}

.icon-shuaxin:before {
  content: "\e71e";
}

.icon-fangda:before {
  content: "\e65d";
}

.icon-up:before {
  content: "\e671";
}

.icon-down:before {
  content: "\e679";
}

.icon-right:before {
  content: "\e67c";
}

.icon-youshang-yuan:before {
  content: "\e60c";
}

.icon-zuoxia-yuan:before {
  content: "\e60d";
}

.icon-zuoshang-yuan:before {
  content: "\e60e";
}

.icon-youxia-yuan:before {
  content: "\e60f";
}

.icon-danguiwaikuang_youxia:before {
  content: "\e6ef";
}

.icon-jiahao:before {
  content: "\e726";
}

.icon-quanping1:before {
  content: "\e620";
}

.icon-jian:before {
  content: "\e610";
}

.icon-manyou:before {
  content: "\e9f1";
}

.icon-gftuceng:before {
  content: "\e7cc";
}

.icon-shouqi:before {
  content: "\e87f";
}

.icon-tubiao_gongjuxiang:before {
  content: "\e61f";
}

.icon-chaxun:before {
  content: "\e694";
}

.icon-drawing:before {
  content: "\e600";
}

.icon-quanping:before {
  content: "\ec13";
}

.icon-chizi_o:before {
  content: "\eb48";
}

.icon-qingchu:before {
  content: "\e6c7";
}

.icon-shitucemianji:before {
  content: "\e658";
}

